{% extends 'base.html' %}
{% block header %}
    {% include 'header.html' %}
{% endblock %}
{% block body %}
<h1>Login Page</h1>
<div style="color:green">
      {% if messages %}
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      {% endif %}
</div>
{% if request.user.is_authenticated %}
    <h3>USER ALREADY LOGGED IN:{{request.user.email}}</h3>
{% else %}
    <div class="contact-inner-form">
				<form method="POST">
					{% csrf_token %}
                    <div class="col_half">
                         <label>Email:</label>
                                {{ form.email }}
                    </div>
                    <div class="col_half">
                         <label>Password:</label>
                                {{ form.password }}
                    </div>
                     <button class="btn btn-success" type="submit">Login</button>
                </form>
</div><br>
Not an account?<a href="{% url 'account:signup' %}">Create</a> an Account
{% endif %}
{% endblock %}
