{% extends 'base.html' %}
{% load static %}
{% block body %}
<div>
    <div style="color:red">
        {% if messages %}
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
    </div>
</div>
<div class="card" style="width: 18rem;">
  {% for tweet in tweets %}
  <div class="card-body">
    <h5 class="card-title">{{tweet.title}} by-{{tweet.user}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{tweet.category}}</h6>
    <p class="card-text">{{tweet.tweet}}</p>
    <a href="#" class="card-link">comment</a>
  </div>
</div>